@import './variables.scss';

modus-card {
  padding: 0px;
}

.card-content {
  height: 100%;
}

.card-wrapper {
  padding-top: 8px;
  padding-left: 8px;
  width: calc(33vw - 22px - 23px);
  height: calc(50vh - 44px);
  box-sizing: border-box;
}

h1 {
  font-size: 20px;
  margin-bottom: 0px;
}

h2 {
  font-size: $text-sm;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  color: #858585;
}
