<div class="card-wrapper" [class.card-wrapper-expanded]="isSidebarExpanded">
  <modus-card height="100%" width="100%">
    <div style="padding: 10px">
      <header>
        <h1>天気</h1>
        <hr />
      </header>

      <div id="jquery"></div>
      <div id="weather"></div>
      <div id="parameter"></div>
      <div id="stylesheet1"></div>
      <div id="stylesheet2"></div>
      <div id="stylesheet3"></div>
      <div id="style"></div>

      <div id="weather-wrapper" style="margin: 5% auto; width: 100%">
        <div id="weather1"></div>
        <div id="weather2"></div>
      </div>
    </div>
  </modus-card>
</div>
