:host {
  display: block;
  width: 100%;
  height: 100%;
}

.contents {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    & > h3 {
      color: #8c8b96;
      margin: 0;
    }

    & > span {
      color: #8c8b96;
      font-size: 12px;
      max-width: 600px;
      text-align: center;
      word-break: keep-all;
    }
  }
}
