@import './variables.scss';

.select-file {
  border-bottom: 1px solid $border-light-gray;
  padding: 0 0 10px 0;
  min-height: 35px;
  line-height: 35px;
}

.import-container {
  height: 100%;
  font-size: 14px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .content {
    width: 100%;
    height: 100%;
  }
}

.show {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.none {
  display: none;
}

.app-modus-loading-icon-modal.loading-modal {
  width: calc(100% + 32px);
  height: calc(100% + 32px + 72.8px);
  top: -16px;
  left: -16px;
  z-index: 100;
}

ntc-import-popup-step-select-type {
  width: 50%;
}
