@import './variables.scss';

.card-wrapper {
  font-family: $fontFamily !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid $neutral-200;

    &__left {
      font-weight: 600;
      font-size: $text-lg;
      line-height: 32px;
      color: $neutral-900;
      display: flex;
      gap: 8px;
      align-items: center;

      span {
        font-size: $text-sm;
      }
    }

    &__right {
      display: flex;
      gap: 24px;
      align-items: center;

      &__date {
        font-size: $text-base;
        line-height: 24px;
        font-weight: 600;
        color: $gunmetal-gray;
      }

      &__title {
        font-size: $text-sm;
        line-height: 24px;
        font-weight: 500;
        color: $state-gray;
        margin-right: 4px;
      }

      .modus-icons {
        cursor: pointer;
      }
    }
  }

  &__container {
    // 31vh is height pie chart minus 135px inner box chart
    width: calc(100% - 48px);
    flex-grow: 1;
    padding: 8px 24px 8px 24px;
    display: flex;
    text-align: right;
    justify-content: space-evenly;

    &__item {
      width: 60%;
      padding-right: 8px;

      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      &.space-even {
        justify-content: space-evenly;
      }

      &__graph {
        overflow: hidden;

        &__left {
          width: 50%;
          height: calc(31vh - 80px);
          margin-top: auto;
          margin-bottom: auto;

          &.expand {
            width: 100%;
          }
        }

        &__right {
          width: 50%;
          height: calc(31vh - 80px);
          margin-top: auto;
          margin-bottom: auto;

          &.expand {
            width: 100%;
          }
        }

        .hidden {
          display: none;
          visibility: hidden;
        }
      }
    }

    .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;

      .bold-text {
        font-weight: bold;
      }

      &__text {
        max-width: 265px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        display: flex;
        text-align: left;
        align-items: end;
        justify-content: space-between;

        span {
          font-size: $text-sm;
          font-weight: 500;
          line-height: 24px;
          color: $state-gray;
        }

        span + span {
          font-size: $text-base;
          font-weight: 600;
          line-height: 24px;
          color: $gunmetal-gray;
        }
      }
    }
  }
}

.space-55-percent {
  width: 55%;
}

.content {
  width: 40%;

  display: flex;
  justify-content: space-around;

  padding-left: 8px;

  margin-right: 0;
  margin-left: auto;

  > div {
    width: 100%;
    max-width: 180px;

    display: flex;
    justify-content: center;
    align-items: center;

    > div {
      width: 100%;
      flex-direction: column;
    }
  }

  &.space-half {
  }

  &.space-calc3 {
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

.square {
  width: 18.48px; // 全体のレイアウト調整で幅が狭くなるため、見た目が16pxになるように調整
  height: 16px;
  border-radius: 4px;
  //margin-top: 8px;

  &--light-gray {
    background-color: #cbcdd6;
  }

  &--cut {
    background-color: $cut-color;
  }

  &--fill {
    background-color: $fill-color;
  }
}
