@import './variables.scss';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.none {
  display: none;
}

.show {
  display: block !important;
}

.tabs {
  width: 100%;
  height: 100%;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &__btn {
      padding: 8px;
      border-bottom: 1px solid $border-light-gray;
      color: #667085;
      font-weight: 600;
      cursor: pointer;
      display: flex;
      width: 150px;
      gap: 6px;
      justify-content: center;

      &--active {
        border-bottom: 1px solid #217cbb;
        color: #217cbb;
      }

      img {
        width: 24px;
        height: 24px;
      }
    }

    &__blank {
      flex-grow: 1;
      border-bottom: 1px solid $border-light-gray;
      height: auto;
      margin-top: auto;
      margin-bottom: 0;
    }
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: calc(100% - 47.8px);
    padding: 0;
    overflow-y: auto;

    & > div {
      width: calc(100% - 8px);
      height: calc(100% - 8px);
    }
  }
}
