@import './styles.scss';

:host {
  display: block;
  width: auto;
}

.import-abort-container {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .abort-import {
    margin-left: 8px;
  }
}

button {
  width: auto;
  height: 24px;
  padding: 0 8px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  border: 0.0625rem solid transparent;
  border-bottom: var(--btn-border-bottom-width, 0.0625rem) solid transparent;
  border-left: var(--btn-border-left-width, 0.0625rem) solid transparent;
  border-radius: 0.25rem;
  border-radius: var(--btn-border-radius, 0.25rem);
  border-right: var(--btn-border-right-width, 0.0625rem) solid transparent;
  border-top: var(--btn-border-top-width, 0.0625rem) solid transparent;

  font-family:
    'Open Sans',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  font-size: $text-ss;
  font-weight: 600;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  cursor: pointer;

  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  background-color: var(--modus-btn-secondary-bg, #6a6e79);
  border-color: var(--modus-btn-secondary-border-color, #6a6e79);
  color: var(--modus-btn-secondary-color, #fff);

  &:hover {
    background-color: var(--modus-btn-secondary-hover-bg, #838793);
    border-color: var(--modus-btn-secondary-hover-bg, #838793);
  }
}
