@import './variables.scss';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.tabs {
  &-container {
    min-width: 618px;
    min-height: 340px;
    height: 400px;
    padding: 0 0 20px;
  }
}
