@import './variables.scss';
@import './modus-styles.scss';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.import {
  width: 100%;
  height: 100%;

  .header {
    padding: 8px 0;
    font-weight: 700;
  }

  .container {
    height: 255.8px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px;
    border: 1px solid var(--ntc-modal-divider-color);
    overflow-y: auto;

    .item_list {
      width: calc(100% - 16px);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 8px;
      padding: 8px;

      .item {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8px;

        .itemDetail {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .name {
            width: calc(100% - 280px);
            display: flex;
            align-items: center;
            justify-content: flex-start;

            i {
              margin-right: 8px;
            }

            span {
              display: block;
              color: #182230;
              font-weight: 500;
              font-size: 14px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }

          .status {
            width: 165px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            margin-left: auto;
            margin-right: 0;

            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #667085;

            i {
              margin-right: 8px;

              &.blank {
                width: 24px;
              }
            }

            &.error {
              i {
                color: var(--modus-red, #4ea646);
              }
            }

            &.complete {
              i {
                color: var(--modus-green-light, #da212c);
              }
            }

            &.cancel {
              i {
                color: var(--modus-yellow-ligh, #fec157);
              }
            }

            modus-spinner {
              height: 20.4px;
              margin-right: 9px;
              margin-left: 2px;
            }
          }

          .size {
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            margin-left: 0;
            margin-right: 0;

            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #667085;
          }
        }

        .itemError {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 8px;
          color: $error;
          font-size: $text-ss;

          //border: 1px solid;
          //padding: 16px;
          //border-radius: 2px;
          //align-items: center;
          //background-color: #fff;
          //border-left: 5px solid;

          span {
          }
        }
      }
    }
  }
}
