.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.buttonRow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
