<div class="viewer-3d">
  <div
    class="viewer-3d__open-panel-btn"
    *ngIf="isUiPanelExpanded"
    (click)="toggleSidePanel()"
  >
    <i class="modus-icons" aria-hidden="true">switch_left</i>
  </div>

  <div
    class="viewer-3d__content wrap-panel"
    [style.height]="
      (underMainArea$ | ngrxPush)
        ? 'calc(100vh - 64px - 32px - 5px - 350px)'
        : 'calc(100vh - 64px - 32px - 5px)'
    "
  >
    <div class="alert-style" [style.width]="alertWidthSize">
      <!-- エラーメッセージアラート -->
      <ntc-parts-components-basic-error-alert
        [errors$]="errors$"
        (dismissClick)="errorClose($event)"
        [width]="alertWidthSize"
      ></ntc-parts-components-basic-error-alert>
    </div>

    <!-- MEMO: component repace current toolbar -->
    <!-- <ntc-toolbars-3d /> -->
    <iframe
      #myFrame
      id="view"
      [src]="trustUrl"
      sandbox="allow-scripts allow-modals allow-forms allow-same-origin"
      class="model-viewer"
      [frameBorder]="0"
      (load)="onIframeLoad()"
    >
    </iframe>

    <div class="app-modus-loading-icon-modal" *ngIf="isLoading">
      <modus-spinner size="2rem"></modus-spinner>
    </div>
  </div>
</div>
