@import './styles.scss';

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.buttonRow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

ntc-parts-components-basic-error-massage {
  width: 100%;
  margin-top: 16px;
  font-size: var(--font-size-h6, 12px);
}
