<div class="edit-bar">
  <div
    *ngIf="editMode === EditModeForTemplate.Init"
    class="edit-bar__mode-selector"
  >
    <div
      class="edit-bar__mode-selector__mode-chip"
      (click)="setEditMode(EditModeForTemplate.Type)"
    >
      種別設定
    </div>
    <div
      class="edit-bar__mode-selector__mode-chip"
      (click)="setEditMode(EditModeForTemplate.Date)"
    >
      測量日時設定
    </div>
    <modus-button
      button-style="borderless"
      color="tertiary"
      icon-only="close"
      (buttonClick)="setEditMode(undefined)"
    ></modus-button>
  </div>
  <div
    *ngIf="editMode === EditModeForTemplate.Type"
    class="edit-bar__type-editor"
  >
    <modus-checkbox
      #CheckAllInputForType
      (checkboxClick)="handleCheckAllForTypeClick()"
      [checked]="checkedAll"
    ></modus-checkbox>
    <modus-autocomplete
      placeholder="ポイント種別を入力 ..."
      includeSearchIcon="false"
      showNoResultsFoundMessage="false"
      [options]="pointTypeOptions"
      (valueChange)="handlePointTypeChange($event)"
      [clearable]="true"
    ></modus-autocomplete>
    <modus-button
      button-style="borderless"
      color="tertiary"
      icon-only="check"
      [disabled]="isInvalidPointType()"
      (buttonClick)="onPointTypeUpdateBtnClicked()"
    ></modus-button>
    <modus-button
      button-style="borderless"
      color="tertiary"
      icon-only="close"
      (buttonClick)="setEditMode(EditModeForTemplate.Init)"
    ></modus-button>
  </div>
  <div
    *ngIf="editMode === EditModeForTemplate.Date"
    class="edit-bar__date-editor"
  >
    <modus-checkbox
      #CheckAllInputForDate
      (checkboxClick)="handleCheckAllForDateClick()"
      [checked]="checkedAll"
    ></modus-checkbox>
    <modus-date-picker>
      <ntc-modus-date-input
        format="yyyy/mm/dd"
        allowedCharsRegex="[\d/]"
        showCalendarIcon="true"
        (valueChange)="handleDateChange($event)"
        placeholder="測量日"
      ></ntc-modus-date-input>
    </modus-date-picker>
    <ntc-modus-time-picker
      #TimePicker
      autoFormat="false"
      (valueChange)="handleTimeChange($event)"
      placeholder="17:00"
    ></ntc-modus-time-picker>
    <modus-button
      button-style="borderless"
      color="tertiary"
      icon-only="check"
      [disabled]="isInvalidDateTime()"
      (buttonClick)="onSurveyDateUpdateBtnClicked()"
    ></modus-button>
    <modus-button
      button-style="borderless"
      color="tertiary"
      icon-only="close"
      (buttonClick)="setEditMode(EditModeForTemplate.Init)"
    ></modus-button>
  </div>
</div>
