@import './variables.scss';

.edit-bar {
  min-height: 32px;
  padding: 8px 6px;
  border-bottom: 1px solid $border-light-gray;

  &__mode-selector {
    display: flex;
    align-items: center;
    column-gap: 8px;

    &__mode-chip {
      font-weight: bold;
      font-size: 12px;
      color: white;
      background-color: $gray-800;
      padding: 6px 8px;
      border-radius: 2px;
      cursor: pointer;

      &:hover {
        background-color: $medium-gray;
      }
    }

    modus-button {
      margin-left: auto;
    }
  }

  &__type-editor {
    display: flex;
    column-gap: 8px;

    modus-autocomplete {
      flex-grow: 1;
    }
  }

  &__date-editor {
    display: flex;
    column-gap: 8px;

    modus-date-picker {
      margin-right: -8px;
      text-wrap: nowrap;
    }

    ntc-modus-time-picker {
      text-wrap: nowrap;
    }
  }
}
