@import './variables.scss';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  overflow: hidden;

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: $text-sm;

    h3 {
      margin: 0;
      font-size: $text-lg;
      color: #8c8b96;
    }

    span {
      color: #8c8b96;

      &.link {
        margin-top: 8px;
        padding: 8px;
        border-radius: 4px;

        &:not(.disabled) {
          cursor: pointer;
        }

        &:hover:not(.disabled) {
          background-color: $gray-0;
          color: $message_question_text;
          fill: $message_question_text;
        }
      }
    }
  }
}
