@import '@nikon-trimble-sok/modus-wrapper/styles/modus-styles.scss';
@import './variables.scss';

:host {
  width: 100%;
  height: 100%;

  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  font-size: $text-ss;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;

  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    .title {
      span {
        font-size: $text-ss;
      }
    }

    .form {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      form {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;

        label {
          font-size: $text-ss;
        }

        ntc-basic-radio-group {
          ::ng-deep.ntc-radio-group {
            .ntc-radio-group__list {
              .ntc-radio-group__item {
                .ntc-radio-group__item__label {
                  padding: 0 8px;
                }
              }
            }
          }
        }
      }
    }
  }

  .preview {
    width: 100%;
    height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
    overflow-y: auto;

    table,
    td,
    th {
      border-collapse: collapse;
      border: 1px solid $gray-0;
    }
    table {
      width: 100%;
      border-bottom: none;

      thead {
        tr {
          th {
            padding: 8px;
            background-color: #f9fafb;
            white-space: nowrap;
            span {
              font-size: $text-ss;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            padding: 8px;
            &.center {
              text-align: center;
            }
            span {
              font-size: $text-ss;
            }
          }
        }
      }
    }
  }
}

.app-modus-loading-icon-modal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
